li {
    font-weight: lighter;
    color: white;
}

.search-panel {
    flex-grow: 1;
    height: 100vh;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

.company-results, .result-panel {
    flex-grow: 1;
    height: 100vh;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

.scroll-view {
    flex-grow: 1;
    list-style-type: none;
    max-height: 100%;
    overflow-y: auto;
}

.scroll-view::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.scroll-view {
    -ms-overflow-style: none;
    scrollbar-width: none;  
}
