.footer-main-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
}

.footer-details {
    display: flex;
    flex-direction: column;
    height: max-content;

    justify-content: center;
    font-size: medium;
    font-weight: 300;
}

.footer-monitoring {
    display: flex;
    height: max-content;

    justify-content: start;
    font-size: medium;
    font-weight: 300;
}

.vertical-line {
    border-left: 2px solid rgb(255, 255, 255);
    height: 20vh;
}

li {
    list-style: none;
    margin: 0.5em;
}

li > a {
    text-decoration: none;
    color: white;
}

li > a:hover {
    color: rgb(78, 78, 255);

    transition: 0.5s ease-in-out;
}