#company-name {
    font-weight: 500;
}

.navbar{
    background: #00054d;

    position: sticky;
}

.navbar-title{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: auto;
}

.navbar-title > img {
    width: 4em;
    height: 4em;
    margin: 1em 1em;
}

.navbar-title > p {
    color: white;
    font-size: 2.5em;
    font-weight: 20em;
}

.animated-text {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .animated-text.visible {
    opacity: 1;
  }

 li > a{
    min-width: auto;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

li > a:hover {
    color: rgb(0, 94, 255);

    transition: 0.3s ease-in;
}

