.navbar{
    background: #00054d;

    position: sticky;
}

.navbar-title{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: auto;
}

.navbar-title > img {
    width: 4em;
    height: 4em;
    margin: 1em 1em;
}

.navbar-title > p {
    color: white;
    font-size: 2.5em;
    font-weight: 20em;
}

 .login-div > a{
    min-width: auto;
    margin: 0em 1em;
    text-decoration: none;
    color: rgb(0, 255, 242);
}

