.links {
    text-decoration: none;
}

.links:hover {
    color: red;

    transition: 0.5s;
}

.login-form {
    padding: 2em;
}

.login-home-container {
    height: 100vh;
    width: 100%;
}

.login-options {
    margin-bottom: 1em;
}

.login-form {
    display: flex;
    flex-direction: column;

    align-items: center;
}